*.dwlt
.vsconfig 
Library
Temp  
.vs
Logs
obj
Assembly-CSharp.csproj
soundflow-unity.sln
SoundFlow/SoundFlow/bin
SoundFlow/SoundFlow/obj
SoundFlow/SoundFlow.Extensions.WebRtc.Apm/bin
SoundFlow/SoundFlow.Extensions.WebRtc.Apm/obj